In [1]:
userinput=[]
for n in range(5):
    value=input()
    userinput.append(value)
print(userinput)

Ranjeet
Raju
Prince
Bipul
Kislay
['Ranjeet', 'Raju', 'Prince', 'Bipul', 'Kislay']

In [1]:
a=10
b=45
a+b

55

In [2]:
a+b

55

In [5]:
userInput=[]
for n in range(3):
    value=input()
    userInput.append(value)
print(userInput)

j
jk
kl
['j', 'jk', 'kl']

In [4]:
n=6
for i in range(n):
    for j in range(i+1):
        print("#", end=" ")
    print("")
    
for k in range(n,0,-1):
    m=k
    for m in range(m-1,0,-1):
             print("*",end=" ")
    print("")

#
# #
# # #
# # # #
# # # # #
# # # # # #
* * * * *
* * * *
* * *
* *
*

In [4]:
n=int(input("Enter No:"))
for i in range(n):
    for j in range(i+1):
        print("#", end=" ")
    print("")
    
for k in range(n,0,-1):
    m=k
    for m in range(m-1,0,-1):
             print("#",end=" ")
    print("")

Enter No:11
#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #
# # # # # # # #
# # # # # # # # #
# # # # # # # # # #
# # # # # # # # # # #
# # # # # # # # # #
# # # # # # # # #
# # # # # # # #
# # # # # # #
# # # # # #
# # # # #
# # # #
# # #
# #
#

In [6]:
n=int(input())
for i in range(0,n):
    for j in range(n+1):
        print(".", end="")
    print("")
for i in range(n-2,-1):
     for j in range(n-1):
        print(".",end="")
     print("")

11
............
............
............
............
............
............
............
............
............
............
............

In [26]:
l = [[1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
x = []
for i in l:
    if type(i)== list:
        for j in i:
            if j not in x:
                x.append(j)
                print("The count of ",j,"is:",i.count(j))
            else:
                x.append(j)

The count of  1 is: 1
The count of  2 is: 2
The count of  3 is: 2
The count of  4 is: 1
The count of  5 is: 1
The count of  8 is: 2

In [21]:
n= int(input("Enter a no."))

for i in range(0,n):
    print(" "*(n-i),". "* i," "*(n-i))
for i in range(n-2,0,-1):
    print(" "*(n-i),". "* i," "*(n-i))

Enter a no.8

        .
       . .
      . . .
     . . . .
    . . . . .
   . . . . . .
  . . . . . . .
   . . . . . .
    . . . . .
     . . . .
      . . .
       . .
        .

In [24]:
a=int(input("Enter no:"))
if a>25:
    print("Pass")
else:
        print("Fail")

Enter no:65
Pass

In [28]:
a = 10 
if a == 30 :
    print("Kolkata")
elif type(a) == int: 
    print("Banglore")
elif a < 20 :
    print("pune")
else :
    print("Hydrrabad")

Banglore

In [27]:
Discount = int(input())
if Discount == 50 :
    print("Green ")
elif Discount == 30 :
    print("Blue ")
elif Discount == 20 :
    print("Yellow ")
elif Discount > 10 :
    print("Purpule ")
else :
    print("red")

20
Yellow

In [31]:
income = int(input())
if income > 1000:
    print("IBM ")
    if income > 2000:
        print("Amazon ")
        if income > 2200 :
            print("Google")
        elif income > 2300:
            print("Microsoft ")
        else :
            print("Cisco ")
    elif income < 1500:
        print("infosys ")
    else :
        print("Aceenture")
    
elif income >800:
    print("Facebook")
else :
    print("Not Eligble")

8000
IBM
Amazon
Google

In [32]:
l = ["Ranjeet" , [1,2,3,4,5] , (2,3,4,5,6) , 56,67,6+7j , True , 45.67, "kumar"]
for i in l :
    print(i)

Ranjeet
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
56
67
(6+7j)
True
45.67
kumar

In [33]:
for i in l :
    if type(i) == str :
        print(i)

Ranjeet
kumar

In [34]:
l

['Ranjeet',
 [1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 56,
 67,
 (6+7j),
 True,
 45.67,
 'kumar']

In [35]:
for n  in l :
    if type(n)== list :
        print(n[::-1])

[5, 4, 3, 2, 1]

In [37]:
for n  in l :
    if type(n)== tuple :
        print(n[::-1])

(6, 5, 4, 3, 2)

In [40]:
for n  in l :
    if type(n)== tuple :
        print(n[::])

(2, 3, 4, 5, 6)

In [42]:
s = "Ranjeet kumar"

for i in s :
    print(i + "5")

R5
a5
n5
j5
e5
e5
t5
 5
k5
u5
m5
a5
r5

In [3]:
l= ["hello",[2,3,3],"str", 45.7, 45, True , (2,3,4)]
for n in l:
    if type(n) == list:
        print(n)

[2, 3, 3]

In [5]:
li = [[1,2,3,4,], "Jhon", (1,2,3,4), 445, 44.8, 3+5j,True,"Smith"]
for i in li:
    if type(i) == list or  type(i) == tuple or  type(i) == str:
        print(i)
    else :
        print("Everyone")

[1, 2, 3, 4]
Jhon
(1, 2, 3, 4)
Everyone
Everyone
Everyone
Everyone
Smith

In [12]:
li = [[1,2,3,4,], "Jhon", (1,2,3,4), 445, 44.8, 3+5j,True,"Smith"]
for i in li:
    if type(i) == list and  type(i) == tuple or  type(i) == str:
        print(i)
    else :
        print("N/A ")

N/A
Jhon
N/A
N/A
N/A
N/A
N/A
Smith

In [11]:
li = [[1,2,3,4,], "Jhon", (1,2,3,4), 445, 44.8, 3+5j,True,"Smith"]
for i in li:
    if type(i) == list or  type(i) == tuple:
        print(i)
    else :
        print("N/A ")

[1, 2, 3, 4]
N/A
(1, 2, 3, 4)
N/A
N/A
N/A
N/A
N/A

In [14]:
li = [[1,2,3,4,], "Manish", (1,2,3,4), 445, 44.8, 3+5j,True,"Kumar"]

for i in li :
    #print(i)
    if type(i) == list or type(i) == tuple  :
        print(i)
        for j in i:
            print(j)

[1, 2, 3, 4]
1
2
3
4
(1, 2, 3, 4)
1
2
3
4

In [15]:
a=[1,5,6,7,8,9]
for i in a:
    print(i)

1
5
6
7
8
9

In [16]:
s = "Sunday"
for i in range(len(s)):
    print(s[i] , i)

S 0
u 1
n 2
d 3
a 4
y 5

In [26]:
a="Ranjeet kumar"
for i in range(len(a)):
    print(a[i],i)

R 0
a 1
n 2
j 3
e 4
e 5
t 6
  7
k 8
u 9
m 10
a 11
r 12

In [37]:
l=[6,"aa"]
j=(1,2,3,4)
for i in l:
    l[0]=j
print(l)

[(1, 2, 3, 4), 'aa']

In [40]:
l

[(1, 2, 3, 4), 'aa']

In [42]:
j=("Ranjeet Kumar")
l.insert(0,j)

In [43]:
l

['Ranjeet Kumar', (1, 2, 3, 4), 'aa']

In [50]:
l = [3,4,5,6,7,8]
l[3:1]

[]

In [49]:
l = [3,4,5,6,7,8]
l[3:-1]

[6, 7]